.square-image-container {
	width: 100%;
	padding-top: 100%; /* Establece un 1:1 de relación de aspecto */
	border-radius: 1vh;
	position: relative;
	overflow: hidden;
}

.square-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.description-text {
	font-size: 1.2rem;
}

.btn-person {
	background-color: #545454 !important;
	color: white !important;
	font-weight: bold !important;
}

.bg-w-translusent {
	background-color: rgba(255, 255, 255, 0.34);
	border: #e7c0e2 solid 1px;
	border-radius: 15px;
	padding: 10px;
}
