.col-12 .swiper {
	height: 7rem;
	padding-top: 1vh;
	padding-right: 3vh;
}

.slider:first-child {
	margin-left: 2vh;
}

.slider-container {
	margin-bottom: 2vh;
}

.slider-content {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 1px solid #b3888f;
	border-radius: 10px;
	padding: 5px;
	background-color: pink;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	transition: transform 0.1s ease-in-out;
}

.slider-content:hover {
	transform: scale(1.03);
}

.slider-title {
	/* display: inline-block; */
	text-align: center;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

@media (min-width: 0px) {
	.slider-title {
		font-size: 1.1rem;
	}
}

@media (min-width: 350px) {
	.slider-title {
		font-size: 1.2rem;
	}
}

@media (min-width: 1200px) {
	.slider-title {
		font-size: 1.5rem;
	}
}
