.pb-zero-img-f {
	padding-bottom: 0;
}

.card {
	max-height: 25rem !important;
	transition: transform 0.3s ease-in-out !important;
}

.card-body {
	padding-bottom: 1vh; /* Ajusta el valor según tus necesidades */
	height: auto !important;
	/* background-color: #e15e60; */
}

.inner-descr {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #27272e;
}

.inner-tit {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mx-height {
	max-height: 50%;
}

.card:hover {
	transform: scale(1.05) !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-link {
	text-decoration: none;
}
