.logus {
	max-width: 25px;
	max-width: 25px;
	margin-right: 1vh;
}

.font-from-s {
	font-family: "Vag Rounded Black", cursive !important;
	font-weight: lighter !important;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
